<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="center-layout">

<div class="auth-card">
    <h2>Signup</h2>

    <form method="POST">
        <input type="text" name="username" placeholder="Username" required><br><br>
        <input type="password" name="password" placeholder="Password" required><br><br>

        <button class="btn full-width">Signup</button>
    </form>

    <p>Already have account? <a href="/login">Login</a></p>
</div>

</body>
</html>